img#logo {
	width:80px;
	float: left;
	margin-bottom:5px;
	margin-right: 30px;
        margin-left: 13px;
}

#site-name{
	clear:right;
	line-height: 10px;
	margin-top: 49px;
}

.col-sm-12.header{
	padding-left:0px;
	margin-left: 0;
	margin-bottom: 5px;
}

#fake_textarea{
	margin-bottom: 5px;
}

#right{
	float:right;
}

.who.headertable{
	/*color:#457D00;*/
	color:#b0ec02;
	opacity:0.6;
}
.weapon.headertable{
	/*color:#3A88B2;*/
	color:#4FBaF4;
}
.what.headertable{
	/*color:#7F4768;*/
	color:#f98acb;
}
.whom.headertable{
	/*color:#BA5847;*/
	color:#FF7962;
}
.where.headertable{
	/*color:#BF8E26;*/
	color:#ffbe33;
	/*dark:7F5F19*/
}
.when.headertable{
	/*color:#BEBF3D;*/
	color:#fdff52;

}

#rcorners1 {

    border-radius: 10px;
    /*background: #8AC007;*/
    padding: 10px;
}

#myTable td, #myTable th{
	text-align: left;
}