<html ng-app="w6">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/sockjs/sockjs.min.js"></script>
    <script src="static/bower_components/stomp-websocket/lib/stomp.min.js"></script>
    <script src="static/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="static/app.js"></script>
</head>

<body ng-controller="ConsumerController">


<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 header" id="header">
        <h1 id="logo">
          <img id="logo" class="logo" src="logo/Logo/W6.png"/>
        </h1>
        <h2 id="site-name">W6 assess</h2>
        <h4 id="site-slogan">news based security profiling</h4>
      </div>
      <div>
        <div class="row">
            <div class="col-sm-6">
                <textarea id="input" ng-model="name" class="form-control" rows="20" style="height:450px" contenteditable>
                </textarea>
                <button id="submit" ng-click="callServer()">Submit</button>
                <form id="textarea" class="form-control" rows="20" style="height:450px">
                <input type='hidden' id='fake_textarea_content' name='foobar' /></form>
            </div>
            <div class="col-sm-6" >
                <table id="myTable" class="table">
                    <thead>
                        <tr>
                            <th><span class="fa fa-circle who headertable" aria-hidden="true"></span> Who</th>
                            <th><span class="fa fa-circle weapon headertable" aria-hidden="true"></span> Weapon</th>
                            <th><span class="fa fa-circle what headertable" aria-hidden="true"></span> What</th>
                            <th><span class="fa fa-circle whom headertable" aria-hidden="true"></span> Whom</th>
                            <th><span class="fa fa-circle where headertable" aria-hidden="true"></span> Where</th>
                            <th><span class="fa fa-circle when headertable" aria-hidden="true"></span> When</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
        <!--<button id="right" class="btn btn-default" type="button">Submit</button>-->
        
</body>
</html>